* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 100px auto;

  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
  justify-content: space-evenly;
}
.col {
  margin: 2px auto;
  margin-top: -150px;
  background: #22438a;
  height: 220px;
  width: 100%;
  border: 1px solid rgb(158, 148, 148);
  /* border-top-left-radius: 30px;
  border-top-right-radius:30px; */

  -webkit-box-shadow: 1px 5px 31px 2px rgba(62, 137, 187, 0.78);
  -moz-box-shadow: 1px 5px 31px 2px rgba(71, 161, 177, 0.78);
  box-shadow: 1px 5px 31px 2px rgba(73, 136, 179, 0.78);
  transition: 1s;
}
.col:hover {
  transform: scale(1.08);
}

.col .icons {
  margin: 50px auto;
  text-align: center;
  justify-content: center;

  font-size: 70px;
  color: #110b46;
}
.icons h1 {
  font-size: 20px;
  color: #0e0f0f;
  font-weight: 600;
}
.icons p {
  font-size: 15px;
}
@media (max-width: 768px) {
  .container {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }

  .col {
    margin-top: 0;
    height: 180px;
  }

  .icons {
    font-size: 50px;
  }

  .icons h1 {
    font-size: 16px;
  }

  .icons p {
    font-size: 12px;
  }
}
